@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #fff;
}

html {
  color-scheme: dark;
}

p {
  font-size: 14px;
}

ol,
ul,
menu {
  list-style: circle;
  margin: 0;
  padding: 0;
}