@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --primary-color: #fff;
}

body {
    counter-reset: footnote-counter;
}

html {
    color-scheme: dark;
}

.prose blockquote {
    font-size: 25px;
}

ol,
ul,
menu {
    margin: 0;
    padding: 0;
}

p {
    margin: 10px 0;
}

[aria-describedby='footnote-label'] {
    counter-increment: footnote-counter;
}

[aria-describedby='footnote-label']::after {
    content: '[' counter(footnote-counter) ']';
    vertical-align: super;
    font-size: 0.5em;
    margin-left: 2px;
    color: inherit; 
    text-decoration: underline; 
    cursor: pointer; 
}

/*
* Resetting the default focused styles on the number
*/

[aria-describedby='footnote-label']:focus::after {
  outline: thin dotted;
  outline-offset: 2px;
}

[aria-label='Back to content'] {
  font-size: 0.8em;
}

