@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --primary-color: #fff;
}

body {
    counter-reset: footnote-counter;
}

html {
    color-scheme: dark;
}

.prose blockquote {
    font-size: 25px;
}

ol,
ul,
menu {
    margin: 0;
    padding: 0;
}

p {
    margin: 10px 0;
}

[aria-describedby='footnote-label'] {
    counter-increment: footnote-counter;
}

[aria-describedby='footnote-label']::after {
    content: '[' counter(footnote-counter) ']';
    vertical-align: super;
    font-size: 0.5em;
    margin-left: 2px;
    color: inherit; 
    text-decoration: underline; 
    cursor: pointer; 
}

/*
* Resetting the default focused styles on the number
*/

[aria-describedby='footnote-label']:focus::after {
  outline: thin dotted;
  outline-offset: 2px;
}

[aria-label='Back to content'] {
  font-size: 0.8em;
}

/* In your global CSS or component CSS file */

.link-card {
    transition: background-color 0.3s ease-in-out;
}

.continue-link {
    display: flex;
    align-items: center;
    position: relative;
}

.continue-link span {
    position: relative;
    padding-bottom: 2px;
    transition: color 0.3s ease-in-out;
}

.continue-link span::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 1px;
    background-color: currentColor;
    transition: width 0.3s ease-in-out;
}

.link-card:hover .continue-link span::after {
    width: 100%;
}
