.imageContainer {
  vertical-align: middle;
  display: inline-block;
  margin-bottom: 20px;
  margin-top: 10px;
 }

 .postTitle {
  font-size: 40px;
  font-weight: 700;
 }

 .postHeader {
  max-width: 42rem;
  margin-top: 20px;
  font-family: Polysans median, sans-serif;
  font-size: 3rem;
  font-weight: 600;
 }
 
 .postContentContainer {
  max-width: 680px;
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
  word-break: break-word;
  width: 100%;
  margin: 60px auto 10px auto;
 }

 .postContainer {
   position: relative;
   margin-bottom: 20px;
   width: 100%;
 }

 .footer {
   width: 100vw;
   padding: 20px 50px;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   background: #252222;
   position: absolute;
   bottom: 0;
 }
 